li.list-group-item.search-result-item(data-source=hit.source,data-score=score,data-id=id,data-action-id=hit.actionId,data-api-id=hit.apiId,class='function-' + rootFunctionId,data-case-geometries=caseGeometries,data-function-id=hit.functionId)
  .row
    .col-1.search-result-icon-container
      i.fa.fa-folder-o.search-result-icon
      i.fa.fa-folder-open-o.search-result-icon
    .col.search-result-content-container
      .search-result-item-title-container
        .search-result-item-title
          =title
        .search-result-item-source-api
          =sourceApi
        .search-result-item-organization-name
          =hit.organizationName
      .search-result-details